#position {
  display: flex;
  justify-content: center;  

}

#menu {
  background-color: rgb(30,144,255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-radius: 1em;
  justify-content: center;
  font-family: 'Suez One', serif;

}


#menu-links {
  display: flex;
  padding-left: 1em;
  font-size: 15px;
}

#menu-links a {
  padding-right: 0.5em;
  color: rgb(244, 244, 250);
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
}

#kwitter-title {
  text-align: left;
  font-size: 30px;
  color: white;
}
