#middle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: 5px white;
}


#login-form {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  flex-direction: column;
}